body, button, input {
  font-family: 'Gilroy';
  font: $font-size-small;
  color: $color-text;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;

  @include respond-to('lg') {

  }

  @include respond-to('xs') {

  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $grid-gap;
}

.btn {
  font: $font-size-btn;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease 0s;
  padding: 0 15px;
  min-height: 48px;
}

.title {
  font: $font-size-h2;
  
  @include respond-to('xs')  {
    font: $font-title;
} 
}

.home {
  color: #898989;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 150%;
}

.home__body {
  display: flex;
  align-items: center;

  li {
    padding-right: 10px;
  }
}



